.nav {
  width: 100%;
  display: flex;
  align-items: center;

  ul {
    padding: 0;
    margin: 0;

    display: flex;

    li {
      display: block;

      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }
}

.label {
  margin-right: 1rem;
}

.activeLink {
  font-weight: bold;

  pointer-events: none;
}

.spacer {
  flex: 1;
}
